<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Registration</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
    <main>
        <h1>Register New Admin</h1>
        <form action="/admin/register/customer" method="POST">
            <p><label for="name">Name:</label><input type="text" id="name" name="name" required></p>
            <p><label for="email">Email:</label><input type="email" id="email" name="email" required></p>
            <p><label for="phoneNumber">PhoneNumber:</label><input type="text" name="PhoneNumber" placeholder="Phone Number"required></p>
            <p><label for="password">Password:</label><input type="password" id="password" name="password" required></p>
            <p><label for="conformPasword">conformPasword:</label><input type="password" name="ConfirmPassword" placeholder="Confirm Password" required><br></p>
            <button type="submit">Register</button>
        </form>
        {{if .error}}
        <p style="color: red; text-align: center;"><strong>{{.error}}</strong></p>
        {{end}}
        <p style="text-align: center;">Already have an account? <a href="/admin/login">Login</a></p>
    </main>
</body>
</html>